.card {
    background-color: #ffffff;
    padding: 1.5rem;
    box-shadow: #bfbfbf 0px 2px 8px 0px;

    border-radius: 10px;
}

.icon {
    width: 1.5rem;
    height: 1.6rem;
    border: #10e742 2px solid;
    padding: 1rem;
    border-radius: 40%;
}
