.testWindow {
    display: flex;
    flex-wrap: nowrap;

    box-shadow: #bfbfbf 0px 2px 8px 0px;
    background-color: #ffffff;
}

.testWindow__Progress {
    display: flex;
    flex: auto;
    box-shadow: #bfbfbf 0px 2px 8px 0px;

    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 1.5em;
}
